page-about {
  .toolbar-title-md {
    text-align: center;
  }

  .scroll-content {
    overflow: hidden;
  }

  .bg-color {
    background-color: #efeeee;
  }

  .top-list {
    margin-top: 10px;
  }
  ion-list {
    margin: -1px 0 15px;
  }
  span {
    color: #b2b2b2;
    font-size: 12px;
  }
  ion-label {
    font-size: 1.4rem;
    color: #8e9093;
  }
  .btn {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .btn span {
    color: #fff;
    font-size: 1.6rem;
  }
  .noBorder .item-inner {
    border-bottom: none !important;
  }
  .mt-5 .label{
    margin-top: 5px;
    margin-bottom: 0;
  }
}

