page-user {
  .bg-color{
    background: #efefef;
  }
  .height-64 {
    height: 64px;
  }
  span{
    color: #b2b2b2;
    font-size: 12px;
  }
  ion-label{
    font-size: 1.4rem ;
    color: #8e9093 ;
  }
}
